<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">
            <i class="fas fa-user-plus"></i> Registo
          </h1>
          <%= include ("./partials/messages") %>
          <form action="/users/register" method="POST">
            <div class="form-group">
              <label for="name">Nome</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Digite o seu nome"
                value="<%= typeof name != 'undefined' ? name : '' %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Digite o seu Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Criar Password"
                required
              />
            </div>
            <div class="form-group">
              <label for="password2">Confirmar Password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder="Confirme a Password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">
              Registar
            </button>
          </form>
          <p class="text-center mt-3">
            Já possui uma conta? <a href="/users/login" class="text-primary">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
