<div class="d-flex vh-100">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
    style="width: 280px"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <i class="fas fa-chart-line me-2"></i
      ><span class="fs-4">Dashboard</span></a
    >
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          href="#submenuUtilizadores"
          data-bs-toggle="collapse"
          class="nav-link link-body-emphasis d-flex justify-content-between align-items-center"
        >
          <span>
            <i class="fas fa-table me-2"></i>
            Tabelas
          </span>
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="collapse list-unstyled ps-4" id="submenuUtilizadores">
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-database"></i>
              Conjuntos de Dados
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-people-group"></i>
              Grupos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-industry"></i>
              Organizações
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-tags"></i>
              Etiquetas
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-lightbulb"></i>
              Recursos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <i class="fa-solid fa-timeline"></i>
              Histórico
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis"
          ><i class="fas fa-chart-pie me-2"></i>Gráficos</a
        >
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis"
          ><i class="fas fa-map me-2"></i>Mapas</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page"
          ><i class="fas fa-users me-2"></i>Utilizadores</a
        >
      </li>
      <!-- Item com submenu recolhível -->
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="index.html"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-user-circle me-2"></i>
        <span><%= user.name %></span>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a href="/users/logout" class="dropdown-item">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
